<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-qncgc455afc8kedu.us.auth0.com</string>
	<key>ClientId</key>
	<string>ej139xd7vQJThudMEq7iUqbEz9KumsdC</string>
</dict>
</plist>
